@import url(../../../https://fonts.googleapis.com/css?family=Oswald:400,300,700);
@import url(../../../https://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import url(../../../https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);
@import url(../../../https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(../../../https://fonts.googleapis.com/css?family=Rubik:300,300i,400,400i,500,500i,700,700i,900,900i);





body {
  font-family: Rubik;
  font-style: normal;
  line-height: 1.5;
}
.mbr-section-title {
  font-style: normal;
  line-height: 1.2;
}
.mbr-section-subtitle {
  line-height: 1.3;
}
.mbr-text {
  font-style: normal;
  line-height: 1.6;
}
.display-1 {
  font-family: 'Roboto', sans-serif;
  font-size: 4.25rem;
}
.display-2 {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 3rem;
}
.display-5 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}
.display-7 {
  font-family: 'Rubik', sans-serif;
  font-size: 1rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.4rem;
    font-size: calc( 2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.1374999999999997rem + (4.25 - 2.1374999999999997) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 2.4rem;
    font-size: calc( 1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.7rem + (3 - 1.7) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.2rem;
    font-size: calc( 1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.175rem + (1.5 - 1.175) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  font-weight: 500;
  border-width: 2px;
  font-style: normal;
  letter-spacing: 1px;
  margin: 0.4rem .8rem;
  white-space: normal;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  font-size: 0.8rem;
  border-radius: 3px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  word-break: break-word;
}
.btn .mbr-iconfont {
  font-size: 1.6rem;
}
.btn-sm {
  font-weight: 500;
  letter-spacing: 1px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 0.6rem 1.5rem;
  font-size: 0.8rem;
  border-radius: 3px;
}
.btn-md {
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0.4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1rem 3rem;
  font-size: 1rem;
  border-radius: 3px;
}
.btn-lg {
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0.4rem .8rem !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  padding: 1.2rem 3.2rem;
  font-size: 1.2rem;
  border-radius: 3px;
}
.bg-primary {
  background-color: #cebfaf !important;
}
.bg-success {
  background-color: #149dcc !important;
}
.bg-info {
  background-color: #82786e !important;
}
.bg-warning {
  background-color: #879a9f !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary {
  background-color: #cebfaf;
  border-color: #cebfaf;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #b19980;
  border-color: #b19980;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #b19980 !important;
  border-color: #b19980 !important;
}
.btn-secondary {
  background-color: #ff3366;
  border-color: #ff3366;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #e50039;
  border-color: #e50039;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #e50039 !important;
  border-color: #e50039 !important;
}
.btn-info {
  background-color: #82786e;
  border-color: #82786e;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #59524b;
  border-color: #59524b;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #59524b !important;
  border-color: #59524b !important;
}
.btn-success {
  background-color: #149dcc;
  border-color: #149dcc;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #0d6786;
  border-color: #0d6786;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #0d6786 !important;
  border-color: #0d6786 !important;
}
.btn-warning {
  background-color: #879a9f;
  border-color: #879a9f;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #617479;
  border-color: #617479;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #617479 !important;
  border-color: #617479 !important;
}
.btn-danger {
  background-color: #b1a374;
  border-color: #b1a374;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #8b7d4e;
  border-color: #8b7d4e;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #8b7d4e !important;
  border-color: #8b7d4e !important;
}
.btn-primary-outline {
  background: none;
  border-color: #a78c70;
  color: #a78c70;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #cebfaf;
  border-color: #cebfaf;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #cebfaf !important;
  border-color: #cebfaf !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #cc0033;
  color: #cc0033;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ff3366;
  border-color: #ff3366;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ff3366 !important;
  border-color: #ff3366 !important;
}
.btn-info-outline {
  background: none;
  border-color: #4b453f;
  color: #4b453f;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #82786e;
  border-color: #82786e;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #82786e !important;
  border-color: #82786e !important;
}
.btn-success-outline {
  background: none;
  border-color: #0b566f;
  color: #0b566f;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #149dcc;
  border-color: #149dcc;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #149dcc !important;
  border-color: #149dcc !important;
}
.btn-warning-outline {
  background: none;
  border-color: #55666b;
  color: #55666b;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #879a9f;
  border-color: #879a9f;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #879a9f !important;
  border-color: #879a9f !important;
}
.btn-danger-outline {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.text-primary {
  color: #cebfaf !important;
}
.text-secondary {
  color: #ff3366 !important;
}
.text-success {
  color: #149dcc !important;
}
.text-info {
  color: #82786e !important;
}
.text-warning {
  color: #879a9f !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #a78c70 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #cc0033 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #0b566f !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #4b453f !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #55666b !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #7a6e45 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #82786e;
}
.alert-warning {
  background-color: #879a9f;
}
.alert-danger {
  background-color: #b1a374;
}
.btn-white-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus,
.btn-white-outline:active,
.btn-white-outline.active {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-black-outline {
  background: none;
  border-color: #333333;
  color: #333333;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline:active,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
.btn-form {
  border-radius: 0px;
}
.btn-form:hover {
  cursor: pointer;
}
a,
a:hover {
  color: #cebfaf;
}
blockquote {
  border-color: #cebfaf;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #b4e6f8;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #beb8b2;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ced6d8;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  opacity: 0 !important;
}
/* Others*/
.note-check a[data-value=Rubik] {
  font-style: normal;
}
.mbr-arrow a {
  color: #ffffff;
}
.form-control-label {
  position: relative;
  cursor: pointer;
  font-size: 0.875rem;
  margin-bottom: 0.357em;
  padding: 0;
}
.alert {
  color: #ffffff;
  border-radius: 0;
  border: 0;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.875rem;
  padding: 1.25rem;
  position: relative;
}
.alert.alert-form:after {
  background-color: inherit;
  bottom: -7px;
  content: "";
  display: block;
  height: 14px;
  left: 50%;
  margin-left: -7px;
  position: absolute;
  transform: rotate(45deg);
  width: 14px;
}
.form-control {
  background-color: #f5f5f5;
  box-shadow: none;
  color: #565656;
  font-size: 0.875rem;
  line-height: 1.43;
  min-height: 3.5em;
  padding: 0.5em 1.07em 0.5em;
}
.form-control,
.form-control:focus {
  border: 1px solid #e8e8e8;
}
.form-active .form-control:invalid {
  border-color: red;
}
.btn-social {
  font-size: 20px;
  border-radius: 50%;
  padding: 0;
  width: 44px;
  height: 44px;
  line-height: 44px;
  text-align: center;
  position: relative;
  border: 2px solid #c0a375;
  color: #232323;
  cursor: pointer;
}
.btn-social i {
  top: 0;
  line-height: 44px;
  width: 44px;
}
.btn-social:hover {
  color: #fff;
  background: #c0a375;
}
.btn-social + .btn {
  margin-left: 0.1rem;
}
.mbr-overlay {
  background-color: #000;
  bottom: 0;
  left: 0;
  opacity: 0.5;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
}
blockquote {
  font-style: italic;
  padding: 10px 0 10px 20px;
  font-size: 1.09rem;
  position: relative;
}
ul,
ol,
pre,
blockquote {
  margin-bottom: 2.3125rem;
}
pre {
  background: #f4f4f4;
  padding: 10px 24px;
  white-space: pre-wrap;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0rem;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.form2 .form-control {
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
}
.form2 .input-group-btn a.btn {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.form2 .input-group-btn button[type="submit"] {
  border-top-left-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.form3 input[type="email"] {
  border-radius: 100px !important;
}
@media (max-width: 349px) {
  .form2 input[type="email"] {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn a.btn {
    border-radius: 100px !important;
  }
  .form2 .input-group-btn button[type="submit"] {
    border-radius: 100px !important;
  }
}
@media (max-width: 767px) {
  .btn {
    font-size: .75rem !important;
  }
  .btn .mbr-iconfont {
    font-size: 1rem !important;
  }
}
/* Social block */
.btn-social {
  border-color: #cebfaf;
}
.btn-social:hover {
  background: #cebfaf;
}
/* Footer */
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #cebfaf;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #cebfaf;
}
.footer3 input[type="email"],
.footer4 input[type="email"] {
  border-radius: 100px !important;
}
.footer3 .input-group-btn a.btn,
.footer4 .input-group-btn a.btn {
  border-radius: 100px !important;
}
.footer3 .input-group-btn button[type="submit"],
.footer4 .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
/* Headers*/
.header13 .form-inline input[type="email"],
.header14 .form-inline input[type="email"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="text"],
.header14 .form-inline input[type="text"] {
  border-radius: 100px;
}
.header13 .form-inline input[type="tel"],
.header14 .form-inline input[type="tel"] {
  border-radius: 100px;
}
.header13 .form-inline a.btn,
.header14 .form-inline a.btn {
  border-radius: 100px;
}
.header13 .form-inline button,
.header14 .form-inline button {
  border-radius: 100px !important;
}
.cid-qmJbVb22Wp .navbar {
  background: #efefef;
  transition: none;
  min-height: 77px;
}
.cid-qmJbVb22Wp .navbar-dropdown.bg-color.transparent.opened {
  background: #efefef;
}
.cid-qmJbVb22Wp a {
  font-style: normal;
}
.cid-qmJbVb22Wp .nav-item span {
  padding-right: 0.4em;
  font-size: 1.6rem;
  line-height: 0.5em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-qmJbVb22Wp .nav-item a {
  padding: 0.7rem 0 !important;
  margin: 0rem .65rem !important;
}
.cid-qmJbVb22Wp .nav-link,
.cid-qmJbVb22Wp .dropdown-item {
  font-size: 1rem;
}
.cid-qmJbVb22Wp .btn {
  font-size: 1rem;
  padding: 0.4rem 1.5rem;
  display: inline-flex;
  align-items: center;
}
.cid-qmJbVb22Wp .btn .mbr-iconfont {
  font-size: 1.6rem;
}
.cid-qmJbVb22Wp .menu-logo {
  margin-right: auto;
}
.cid-qmJbVb22Wp .menu-logo .navbar-brand {
  display: flex;
  margin-left: 5rem;
  padding: 0;
  transition: padding .2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-qmJbVb22Wp .menu-logo .navbar-brand .navbar-caption-wrap {
  display: -webkit-flex;
  -webkit-align-items: center;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: .3rem 0;
}
.cid-qmJbVb22Wp .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  line-height: 1.2rem !important;
  padding-right: 2rem;
}
.cid-qmJbVb22Wp .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-qmJbVb22Wp .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
  height: 3.8rem;
}
.cid-qmJbVb22Wp .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-qmJbVb22Wp .navbar-toggleable-sm .navbar-collapse {
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
  padding-right: 5rem;
  width: auto;
}
.cid-qmJbVb22Wp .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  padding-left: 0;
}
.cid-qmJbVb22Wp .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  -webkit-align-self: center;
  align-self: center;
}
.cid-qmJbVb22Wp .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-qmJbVb22Wp .dropdown .dropdown-menu {
  background: #efefef;
  display: none;
  position: absolute;
  min-width: 5rem;
  padding-top: 1.4rem;
  padding-bottom: 1.4rem;
  text-align: left;
}
.cid-qmJbVb22Wp .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  padding: 0.235em 1.5385em 0.235em 1.5385em !important;
}
.cid-qmJbVb22Wp .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-qmJbVb22Wp .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-qmJbVb22Wp .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-qmJbVb22Wp .navbar-toggleable-sm.opened:after {
  position: absolute;
  width: 100vw;
  height: 100vh;
  content: '';
  background-color: rgba(0, 0, 0, 0.1);
  left: 0;
  bottom: 0;
  transform: translateY(100%);
  -webkit-transform: translateY(100%);
  z-index: 1000;
}
.cid-qmJbVb22Wp .navbar.navbar-short {
  min-height: 60px;
  transition: all .2s;
}
.cid-qmJbVb22Wp .navbar.navbar-short .navbar-toggler-right {
  top: 20px;
}
.cid-qmJbVb22Wp .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  line-height: 2.5rem;
  transition: font-size 0.25s;
}
.cid-qmJbVb22Wp .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-qmJbVb22Wp .navbar.navbar-short .navbar-logo a img {
  height: 3rem;
}
.cid-qmJbVb22Wp .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-qmJbVb22Wp button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all .2s;
  top: 1.5rem;
  right: 1rem;
}
.cid-qmJbVb22Wp button.navbar-toggler:focus {
  outline: none;
}
.cid-qmJbVb22Wp button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-qmJbVb22Wp button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-qmJbVb22Wp button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-qmJbVb22Wp button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-qmJbVb22Wp button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-qmJbVb22Wp nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qmJbVb22Wp nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-qmJbVb22Wp nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-qmJbVb22Wp nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-qmJbVb22Wp .collapsed .btn {
  display: flex;
}
.cid-qmJbVb22Wp .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-qmJbVb22Wp .collapsed .navbar-collapse.collapsing,
.cid-qmJbVb22Wp .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-qmJbVb22Wp .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-qmJbVb22Wp .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-qmJbVb22Wp .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-qmJbVb22Wp .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-qmJbVb22Wp .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
.cid-qmJbVb22Wp .collapsed .navbar-collapse.show .navbar-nav .nav-item:last-child {
  margin-bottom: 1rem;
}
.cid-qmJbVb22Wp .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-qmJbVb22Wp .collapsed .navbar-collapse.show .navbar-buttons {
  text-align: center;
}
.cid-qmJbVb22Wp .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-qmJbVb22Wp .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
.cid-qmJbVb22Wp .collapsed button.navbar-toggler {
  display: block;
}
.cid-qmJbVb22Wp .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: .5rem;
}
.cid-qmJbVb22Wp .collapsed .navbar-toggleable-sm {
  flex-direction: column;
  -webkit-flex-direction: column;
}
.cid-qmJbVb22Wp .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: .5s;
  transition-property: opacity,padding,height;
}
.cid-qmJbVb22Wp .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-qmJbVb22Wp .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-qmJbVb22Wp .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: .3em;
  vertical-align: middle;
  content: "";
  border-top: .30em solid;
  border-right: .30em solid transparent;
  border-left: .30em solid transparent;
}
@media (max-width: 991px) {
  .cid-qmJbVb22Wp .btn {
    display: flex;
  }
  .cid-qmJbVb22Wp button.navbar-toggler {
    display: block;
  }
  .cid-qmJbVb22Wp .navbar-brand {
    margin-left: 1rem !important;
    margin-top: .5rem;
  }
  .cid-qmJbVb22Wp .navbar-toggleable-sm {
    flex-direction: column;
    -webkit-flex-direction: column;
  }
  .cid-qmJbVb22Wp .navbar-collapse {
    display: none !important;
    padding-right: 0 !important;
  }
  .cid-qmJbVb22Wp .navbar-collapse.collapsing,
  .cid-qmJbVb22Wp .navbar-collapse.show {
    display: block !important;
  }
  .cid-qmJbVb22Wp .navbar-collapse.collapsing .navbar-nav,
  .cid-qmJbVb22Wp .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-qmJbVb22Wp .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-qmJbVb22Wp .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-qmJbVb22Wp .navbar-collapse.collapsing .navbar-nav .nav-item:last-child,
  .cid-qmJbVb22Wp .navbar-collapse.show .navbar-nav .nav-item:last-child {
    margin-bottom: 1rem;
  }
  .cid-qmJbVb22Wp .navbar-collapse.collapsing .navbar-buttons,
  .cid-qmJbVb22Wp .navbar-collapse.show .navbar-buttons {
    text-align: center;
  }
  .cid-qmJbVb22Wp .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-qmJbVb22Wp .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-qmJbVb22Wp .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: .5s;
    transition-property: opacity,padding,height;
  }
  .cid-qmJbVb22Wp .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-qmJbVb22Wp .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-qmJbVb22Wp .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: .3em;
    vertical-align: middle;
    content: "";
    border-top: .30em solid;
    border-right: .30em solid transparent;
    border-left: .30em solid transparent;
  }
}
.cid-qmJbVb22Wp .nav-link,
.cid-qmJbVb22Wp .dropdown-item SPAN {
  font-family: 'Oswald', sans-serif;
}
.cid-qmJavr04mH {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #f9f9f9;
}
.cid-qmJavr04mH .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-qmJavr04mH .media-container-row {
  word-wrap: break-word;
  word-break: break-word;
  align-items: stretch;
  -webkit-align-items: stretch;
}
.cid-qmJavr04mH .card_cont {
  -o-transition: all .5s;
  -ms-transition: all .5s;
  -moz-transition: all .5s;
  -webkit-transition: all .5s;
  transition: all .5s;
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  position: absolute;
  top: 0px;
  left: 0px;
  text-align: center;
  background-color: #eee;
}
.cid-qmJavr04mH .card-front {
  z-index: 2;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.cid-qmJavr04mH .card-front img {
  min-height: 100%;
  min-width: 100%;
  width: auto;
  max-width: 600px;
}
.cid-qmJavr04mH .card_back {
  width: 100%;
  height: 100%;
  padding: 30px 30px;
  color: #ffffff;
  background-color: #b2ccd2;
  z-index: 1;
  margin: 0;
  text-align: center;
  overflow: hidden;
  -o-transform: rotateX(-180deg);
  -ms-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  -webkit-transform: rotateX(-180deg);
  transform: rotateX(-180deg);
}
.cid-qmJavr04mH .card {
  min-height: 300px;
}
.cid-qmJavr04mH .card:hover .card-front {
  z-index: 1;
  -o-transform: rotateX(180deg);
  -ms-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  -webkit-transform: rotateX(180deg);
  transform: rotateX(180deg);
}
.cid-qmJavr04mH .card:hover .card_back {
  z-index: 2;
  -o-transform: rotateX(0deg);
  -ms-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.cid-qmJavr04mH .builderCard .card_back {
  border-bottom-left-radius: 100px;
}
.cid-qmJavr04mH .builderCard .card_cont {
  -o-backface-visibility: hidden;
  -ms-backface-visibility: hidd;
  -moz-backface-visibility: visible;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}
.cid-qmJi9uX0K5 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f9f9f9;
}
.cid-qmJi9uX0K5 .mbr-section-text {
  color: #767676;
}
.cid-qmJi9uX0K5 .mbr-section-subtitle {
  color: #767676;
}
.cid-qmJi9uX0K5 .tabcont {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-qmJi9uX0K5 .mbr-iconfont {
  font-size: 48px;
}
.cid-qmJi9uX0K5 .card-img {
  margin-bottom: 1.5rem;
}
.cid-qmJi9uX0K5 .tab-content-row {
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-qmJi9uX0K5 .tab-content {
  margin-top: 3rem;
  width: 100%;
}
.cid-qmJi9uX0K5 .nav-tabs {
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  border-bottom: none;
}
.cid-qmJi9uX0K5 .nav-tabs .nav-item.open .nav-link,
.cid-qmJi9uX0K5 .nav-tabs .nav-item.open .nav-link:focus,
.cid-qmJi9uX0K5 .nav-tabs .nav-item.open .nav-link:hover,
.cid-qmJi9uX0K5 .nav-tabs .nav-link.active,
.cid-qmJi9uX0K5 .nav-tabs .nav-link:hover,
.cid-qmJi9uX0K5 .nav-tabs .nav-link.active:focus,
.cid-qmJi9uX0K5 .nav-tabs .nav-link.active:hover {
  background-color: transparent;
  border: 1px solid #000000;
  transition: all .3s;
  outline: none;
}
.cid-qmJi9uX0K5 .nav-tabs .nav-link.active {
  font-weight: 500;
  color: #000000;
  font-style: normal;
}
.cid-qmJi9uX0K5 .nav-tabs .nav-link {
  color: #767676;
  font-style: normal;
  font-weight: 500;
  border-radius: 3px;
  border: 1px solid transparent;
  padding: 1rem 3rem;
  margin: 0.4rem .8rem !important;
  transition: all .3s;
}
.cid-qmJi9uX0K5 .nav-tabs .nav-link:focus {
  box-shadow: none;
}
.cid-qmJjEGIVeq {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qmJjEGIVeq .title {
  margin-bottom: 2rem;
}
.cid-qmJjEGIVeq .mbr-section-subtitle {
  color: #767676;
}
.cid-qmJjEGIVeq a:not([href]):not([tabindex]) {
  color: #fff;
  border-radius: 3px;
}
.cid-qmJjEGIVeq a.btn-white:not([href]):not([tabindex]) {
  color: #333;
}
.cid-qmJjEGIVeq .multi-horizontal {
  flex-grow: 1;
  -webkit-flex-grow: 1;
  max-width: 100%;
}
.cid-qmJaRQj0Xh {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
.cid-qmJaRQj0Xh h3 {
  text-align: center;
}
.cid-qmJaRQj0Xh .mbr-section-subtitle {
  color: #767676;
  font-weight: 300;
}
.cid-qmJaRQj0Xh .mbr-content-text {
  color: #767676;
}
.cid-qmJaRQj0Xh .panel-item {
  background: #ffffff;
}
.cid-qmJaRQj0Xh .card {
  word-wrap: break-word;
}
.cid-qmJaRQj0Xh .mbr-iconfont {
  font-size: 80px;
  color: #149dcc;
}
.cid-qmJaRQj0Xh H3 {
  color: #ff7f9f;
}
.cid-qmJBbt7Yd9 {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2e2e2e;
}
@media (max-width: 767px) {
  .cid-qmJBbt7Yd9 .content {
    text-align: center;
  }
  .cid-qmJBbt7Yd9 .content > div:not(:last-child) {
    margin-bottom: 2rem;
  }
}
.cid-qmJBbt7Yd9 .map {
  height: 18.75rem;
}
@media (max-width: 767px) {
  .cid-qmJBbt7Yd9 .footer-lower .copyright {
    margin-bottom: 1rem;
    text-align: center;
  }
}
.cid-qmJBbt7Yd9 .footer-lower hr {
  margin: 1rem 0;
  border-color: #fff;
  opacity: .05;
}
.cid-qmJBbt7Yd9 .footer-lower .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: -webkit-flex;
  justify-content: flex-end;
  -webkit-justify-content: flex-end;
}
.cid-qmJBbt7Yd9 .footer-lower .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #fff;
}
.cid-qmJBbt7Yd9 .footer-lower .social-list .soc-item:not(:first-child) {
  margin-left: 1.6rem;
}
.cid-qmJBbt7Yd9 .footer-lower .social-list a {
  margin: 0;
  opacity: .5;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-qmJBbt7Yd9 .footer-lower .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-qmJBbt7Yd9 .footer-lower .social-list {
    justify-content: center;
    -webkit-justify-content: center;
  }
}
.cid-qmJBbt7Yd9 .google-map {
  height: 25rem;
  position: relative;
}
.cid-qmJBbt7Yd9 .google-map iframe {
  height: 100%;
  width: 100%;
}
.cid-qmJBbt7Yd9 .google-map [data-state-details] {
  color: #6b6763;
  font-family: Montserrat;
  height: 1.5em;
  margin-top: -0.75em;
  padding-left: 1.25rem;
  padding-right: 1.25rem;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 100%;
}
.cid-qmJBbt7Yd9 .google-map[data-state] {
  background: #e9e5dc;
}
.cid-qmJBbt7Yd9 .google-map[data-state="loading"] [data-state-details] {
  display: none;
}
